body{
  margin: 0px;
  padding: 0px;
  background-image: linear-gradient(
    115deg,
    rgba(97, 230, 130, 0.093),
    rgba(17, 10, 114, 0.192)
  ), url(https://images2.alphacoders.com/100/thumb-1920-100680.jpg);
  background-size: cover;
  background-position: center;
}

.contenedor{
  margin: auto;
  width: 1000px;
  height: 600px;
  padding: 5px;
}

.logo{
  width: 100%;
}

.logoImg{
 width: 150px;
 height: 50px;
 mix-blend-mode: multiply;
 margin-left: 831px;
}

.logoImg:hover{
  width: 200px;
  height: 50px;
}

.titulo{
  text-align: center;
  margin-right: 310px;
}

.cuadrado-izquierdo{
  float: left;
  width: 70%;
  height:  334px;
  border-radius: 24px;  
  box-shadow: 9px 9px 8px -6px rgba(0,0,0,0.49);
  background-color: #aaaac957;
}

.text-input{
  margin-left: 10%;
  margin-top: 8%;
  color:white;
  width: 80%;
  height: 60%;
  background: #a254542e;
  outline: none;
  border: none;
  font-size: 20px; 
}
  
.botones{
  float: left;
  width: 70%;
  height: auto;   
}
  
#boton1{
  padding: 17px;
  width: 28%;
  height: auto;
  background: #1a69ca;
  border-radius: 35px;
  margin-left: 15%;
  color: white;
}

#boton1:hover{
  border-color: #4819f293;
  font-size: 15px;
}

#boton2{
  padding: 17px;
  width: 28%;
  height: auto;
  background: #dfdbd1;
  border-radius: 24px;
  margin-left: 10%;
}

#boton2:hover{
  border-color: #f95103b1;
  font-size: 15px;
}

p{
  margin-top: 23px;
  margin-left: 22%;
  font-style: italic;
}

.cuadroDerecha{
  float: right;
  text-align: center;
  border-radius: 24px;
  width: 30%;
  height: 77%;
  box-shadow: 9px 9px 8px -6px rgba(0,0,0,0.49);
  font-size: 10px;
  background-color: #aaaac957;
}

  
#imgDerecha{
  filter: brightness(1.2);
  mix-blend-mode: multiply;
  width: 90%;
  height: auto;
}

#texto #texto2{
  margin-left: 5%;
  margin-right: 5%;
}
  
#copiar{
  margin-left: 33%;
  margin-top: 90%;
  display: none;
  padding: 24px;
  width: 40%;
  height: 10%;
  background: #D8DFE8;
  border-radius: 24px;
}
  
#texto2{
  margin-top: 10%;
  color: #2b66ae;
  width: 80%;
  height: 10%;
  background: #F3F5FC;
  outline: none;
  border: none;
}

.footer {
  width: auto;
  height: auto;
  background-color: #9cb099bf;
  display: flex;
}

.footer h2{
  margin-left: 100px;
}

.container-link{
  margin-top: 15px;
  margin-left: 9%;
  font-style: italic;
}

.link{
  color: black;
  font-weight: 900;
  text-decoration: none;
  font-size: 30px;   
}

.link:hover{
  font-size: 50px; 
}

/*comienzo de @media*/
@media (360px <= width <= 768px){

.logo {
  width: 189%;
  height: 61px;
}  

.logoImg {
  margin-left: -14px;
}

body {
  height: 575px;
}

.contenedor {
  margin: auto;
  padding: 5px;
  width: 341px;
  height: auto;
}

.cuadrado-izquierdo {
  width: 57%;
  height: 335px;
  margin-top: 60px;
} 

.text-input {
  height: 79%;
  font-size: 13px;
}

.cuadroDerecha {
  width: 43%;
  height: 83%;
}

#imgDerecha {
  width: 116%;
}

.cuadroDerecha {
  font-size: 8px;
  height: 335px;
  margin-top: 59px; 
}

#texto2 {
  margin-top: 17%;
  width: 85%;
}

.botones {
  width: auto;
}

#boton1 {
  width: 70%;
}

#boton2 {
  width: 70%;
  margin-top: 10px;
  margin-left: 51px;
}

.footer {
  width: 102%;
}

.footer h2 {
  display: none;
}

.container-link {
  margin-left: 4%;
}

}